.options {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
}

.pasteGroup {
  margin-top: 20px;
  width: 100%;

  div {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
}

.afterSubmit {
  height: 200px;
}
