.pasteInput {
  width: 100%;
  padding-left: 15px;
  border: 1px solid var(--border-color);
  background: var(--background);
  color: var(--text-color);
  height: 35px;
  border-radius: 5px;
  margin-right: 15px;
}
