html {
  @media (min-width: 1080px) {
    font-size: 115%;

    .menuContent {
      padding: 0 45px !important;
      width: 35% !important;
    }

    .navigation {
      padding: 0 45px;
      margin-top: 50px;

      .logo {
        margin-left: 30px;
      }

      .menuContent {
        h3 {
          padding-top: 50px;
        }
      }
    }

    .langModal {
      top: 45px;
      animation-name: langsDesktop;
    }

    .configs {
      padding-top: 0;
      align-items: center;
      display: flex;
      flex-direction: row;

      .langDiv {
        margin-right: 30px !important;
        margin-top: 0;
      }
    }

    .content {
      padding: 40px 45px 0 45px;

      margin-top: 50px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      align-items: center;

      .contentGroup {
        margin-top: 20px;
        display: block;
      }

      .divButton {
        margin-top: 20px;
        display: flex;
        justify-content: center;
      }

      .principalForm {
        margin-top: 40px;
        width: 60%;
      }

      .tutorialDiv {
        padding: 0 50px;
        text-align: center;
      }
    }
  }
}

@keyframes langsDesktop {
  from {
    top: 80px;
    opacity: 0;
  }

  to {
    top: 45px;
    opacity: 1;
  }
}
