html {
  @media (min-width: 720px) {
    font-size: 106.5%;

    .container {
      padding: 40px 25px 0 25px;

      .menuContent {
        padding: 0 25px !important;
        width: 50% !important;
      }
    }
  }
}
