.tutorialDiv {
  margin-top: 150px;
  margin-bottom: 50px;

  h2 {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 30px;
  }

  p {
    font-weight: 500;
    font-size: 18px;
  }

  .img {
    margin: 20px 0;
  }
}
